/* Import Roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.chart-box {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    flex: 1 1 30%;
    box-sizing: border-box;
    max-width: 30%; /* Ensure three boxes fit within one row */
}

.chart-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px; /* Add some space between rows */
}

h1, div {
    font-family: 'Roboto', sans-serif;
}
